<h1>Articles!!!!</h1>

<%= link_to "Create something coo!!!!", new_article_path %>

<% @articles.each do |article| %>
<div>
   <div>
    <h3><%= article.title %></h3>
    <p><%= article.text %></p>
   </div>
</div>

<% end %>